@page
@model IndexModel
@{
    var folderName = new System.IO.DirectoryInfo(Request.Path).Parent?.Name; ViewData["Title"] = $"{folderName} Home page";
}

<div class="text-center">
    <h1 class="display-4">10 điểm</h1></p>
</div>
